/*body { font-family: 'Noto Sans Korean', sans-serif; padding: 0; margin: 0; }*/
body, pre, input, select, textarea, button { font-family: 'Nanum Gothic'; }

body > section { padding: 100px 0; }

@font-face {
    font-family: 'Nanum Gothic';
    src: local('Nanum Gothic'), local('Apple SD Gothic Neo'), local('Malgun Gothic');
}

@media (min-width: 768px) {
  body > section { padding: 150px 0;}
}

section h2.section-heading {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 15px;
}

address,.copyright { font-size: 14px; color: #999;}
